
@import '../../styles/colors.scss';
@import '../../styles/params.scss';

.modal-wrapper {
    min-width: 480px;
    h2 {
        margin-bottom: 10px;
    }
    .item-info {
        margin-bottom: 10px;
        .info-row {
            margin-bottom: 10px;
            textarea {
                display: block;
                width: 100%;
                min-height: 200px;
                border: 1px solid $main-color;
                background-color: $main-color;
                margin-top: 10px;
            }
            &.result textarea, &.errors textarea {
                min-height: 100px;
            }
        }
    }
    .buttons {
        float: right;
        button {
            display: inline-block;
            padding: 15px 20px;
            line-height: 10px;
            border: 0;
            cursor: pointer;
            background-color:darken($main-color, 10%);
            color: #333;
        }
        button:hover {
            background-color:darken($main-color, 15%);
        }
        button:active {
            background-color:darken($main-color, 20%);
        }
    }

    @media only screen 
        and (max-device-width: 420px) {
            min-width: 320px;
        }    
}
