
.modal-wrapper {
    min-width: 480px;
    h2 {
        margin-bottom: 10px;
    }
    .item-info {
        margin-bottom: 10px;
        .info-row {
            margin-bottom: 10px;
            textarea {
                display: block;
                width: 100%;
                min-height: 200px;
                border: 1px solid #E3F2FD;
                background-color: #E3F2FD;
                margin-top: 10px;
            }
            &.result textarea, &.errors textarea {
                min-height: 100px;
            }
        }
    }
    .buttons {
        float: right;
        button {
            display: inline-block;
            padding: 15px 20px;
            line-height: 10px;
            border: 0;
            cursor: pointer;
            background-color:darken(#E3F2FD, 10%);
            color: #333;
/*                       
            height: 60px;
            padding: 0;
            font-size: 22px;
            color: white;
            text-align: center;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
            background: #f1c40f;
            border: 0;
            border-bottom: 2px solid #e2b607;
            cursor: pointer;
            -webkit-box-shadow: inset 0 -2px #e2b607;
            box-shadow: inset 0 -2px #e2b607;
*/
        }
        button:hover {
            background-color:darken(#E3F2FD, 15%);
        }
        button:active {
            background-color:darken(#E3F2FD, 20%);
        }
    }
}
