$bg: #F6F7FB;
$line: #E1E3E6;
$text: #808488;
$title: #142331;
$main: #039BE6;
$white: #FFFFFF;
$shadow: 0 3px 6px rgba(0,0,0,0.16);
$shadow-big: 0 0 10px rgba(47, 61, 74, 0.14);

$main-color: #E3F2FD;
